<div class="<%= class_name %> wow slideInLeft">
  <a href="<%- url_for(post.path) %>" class="article-date-link">
    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
  </a>
</div>
