<!DOCTYPE html>
<html <% if (config.language) { %>lang="<%- config.language %>" <% } %> <% if (theme.dark_mode.enable) { %>data-theme="dark" <% } %>>
<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', {post: page}, {cache: !config.relative_link}) %>
    </div>
  </div>
  <div class="site-search">
    <div class="reimu-popup popup">
      <div class="reimu-search">
        <span class="reimu-search-input-icon"></span>
        <div class="reimu-search-input" id="reimu-search-input"></div>
      </div>
      <div class="reimu-results">
        <div id="reimu-stats"></div>
        <div id="reimu-hits"></div>
        <div id="reimu-pagination" class="reimu-pagination"></div>
      </div>
      <span class="popup-btn-close"></span>
    </div>
  </div>
  <%- partial('_partial/after-footer') %>
</body>
</html>
