<% if (site.categories.length) { %>
  <div class="widget-wrapper">
    <div class="widget-wrap" data-aos="<%= theme.animation.options.home.widget %>">
      <h3 class="widget-title"><%= __('categories') %></h3>
      <div class="widget">
        <%- listCategories({show_count: theme.show_count}) %>
      </div>
    </div>
  </div>
<% } %>
