vendors = official

@keyframes blur 
  0%
    filter: blur(10px)
  
  to
    filter: blur(0)

@keyframes blur-darken
  0%
    filter: blur(10px) brightness(70%)
  
  to
    filter: blur(0) brightness(70%)

@keyframes rotate-all
  100%
    transform: rotate(360deg)

@keyframes transform-all
  100%
    transform: translateX(-100px)

if hexo-config("animation.enable")
  body [data-aos='fade-up'] 
    transform: translate3d(0, 30px, 0)

  body [data-aos='zoom-in'] 
    transform: scale(0.8)
  
  [data-aos^=fade],  [data-aos^=zoom]
    transition-property: all !important