// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #555
color-grey = #999
color-border = red-3
color-link = red-1
color-background = #eee
color-code-background = #f5f5f5
color-sidebar-text = #777
color-footer-background = #fff
color-mobile-nav-background = #fff
color-wrap = #fff
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-linkedin = #0077B5

red-0 = #ff0000
red-1 = #ff5252
red-2 = #ff7c7c
red-3 = #ffafaf
red-4 = #ffd0d0
red-5 = #ffe4e4
red-5-5 = #ffecec
red-6 = #fff3f3

// Fonts
font-sans = -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", "Ubuntu Mono derivative Powerline",
        sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.7.0"
font-size = 14px
line-height = 1.8em
line-height-title = 1.2em

// Header
logo-size = 40px
subtitle-size = 18px
banner-height = 400px

sidebar = hexo-config("sidebar")

// Layout
block-margin = 50px
article-padding = 20px
mobile-nav-width = 280px
main-column = 9
sidebar-column = 3

_sidebar-column = sidebar-column

// Grids
column-width = 80px
gutter-width = 20px
columns = main-column + _sidebar-column

// Media queries
mq-mobile = "screen and (max-width: 479px)"
no-mobile = "screen and (min-width: 480px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"
mg-normal = "screen and (max-width: 767px)"
mq-large = "screen and (min-width: 960px)"
mg-large = "screen and (max-width: 959px)"

post-radius = 5px