font-icon = "Font Awesome 6 Free", "Font Awesome 6 Brands", "Font Awesome 5 Free", "Font Awesome 5 Brands", "FontAwesome"

.tag-wrap
  .archives-tag-list-link
    &:before
      font-family: font-icon
      content: "\f02b"

.category-wrap
  .archives-category-list-link
    &:before
      font-family: font-icon
      content: "\f02e"

.article-date-link
  &:before
    font-family: font-icon
    content: "\f017"

.article-category-link
  &:before
    font-family: font-icon
    content: "\f02e"

.article-tag-list-link
  &:before
    font-family: font-icon
    content: "\f02b"

.article-comment-link
  &:before
    font-family: font-icon
    content: "\f075"

.icon-copyright
  &:before
    font-family: font-icon
    content: "\f1f9"

.icon-brush
  &:before
    font-family: font-icon
    content: "\f1fc"

.icon-coffee
  &:before
    font-family: font-icon
    content: "\f0f4"

.icon-eye
  &:before
    font-family: font-icon
    content: "\f06e"

.icon-user
  &:before
    font-family: font-icon
    content: "\f007"

#main-nav-toggle
  &:before
    font-family: font-icon
    content: "\f0c9"

#nav-rss-link
  &:before
    font-family: font-icon
    content: "\f09e"

#nav-search-btn
  &:before
    font-family: font-icon
    content: "\f002"

#nav-sun-btn
  &:before
    font-family: font-icon
    content: "\f185"

#nav-moon-btn
  &:before
    font-family: font-icon
    content: "\f186"

.icon-copy
  &:before
    font-family: font-icon
    content: "\f0c5"

.icon-chevron-down
  &:before
    font-family: font-icon
    content: "\f078"

.icon-check
  &:before
    font-family: font-icon
    content: "\f00c"

.icon-times
  &:before
    font-family: font-icon
    content: "\f00d"

.post-meta
  .icon-calendar
    &:before
      font-family: font-icon
      content: "\f073"

  .icon-pencil
    &:before
      font-family: font-icon
      content: "\f5ad"

  .icon-clock
    &:before
      font-family: font-icon
      content: "\f252"

.post-sticky
  &:before
    font-family: font-icon
    content:"\f164"

.reimu-popup
  .popup-btn-close
    &:before
      font-family: font-icon
      content: "\f057"

.reimu-search-input-icon
  &:before
    font-family: font-icon
    content: "\f002"

.ais-pagination--item__previous
  a
    &:before
      font-family: font-icon
      content: "\f104"

.ais-pagination--item__next
  a
    &:before
      font-family: font-icon
      content: "\f105"

.icon-github
  &:before
    content: "\f09b"

.icon-google
  &:before
    content: "\f0d5"

.icon-facebook
  &:before
    content: "\f09a"

.icon-twitter
  &:before
    content: "\e61b"

.icon-instagram
  &:before
    content: "\f16d"

.icon-linkedin
  &:before
    content: "\f08c"

.icon-pinterest
  &:before
    content: "\f0d2"

.icon-youtube
  &:before
    content: "\f167"

.icon-vimeo
  &:before
    content: "\f194"

.icon-flickr
  &:before
    content: "\f16e"

.icon-dribbble
  &:before
    content: "\f17d"

.icon-behance
  &:before
    content: "\f1b4"

.icon-bilibili
  &:before
    content: "\e3d9"

.icon-weibo
  &:before
    content: "\f18a"

.icon-zhihu
  &:before
    content: "\f63f"

.icon-reddit
  &:before
    content: "\f1a1"

.icon-tumblr
  &:before
    content: "\f173"

.icon-medium
  &:before
    content: "\f23a"

.icon-deviantart
  &:before
    content: "\f1bd"

.icon-stackoverflow
  &:before
    content: "\f16c"

.icon-keybase
  &:before
    content: "\f4f5"

.icon-telegram
  &:before
    content: "\f2c6"

.icon-discord
  &:before
    content: "\f392"

.icon-steam
  &:before
    content: "\f1b6"

.icon-email
  &:before
    content: "\f0e0"

.sidebar-btn-wrapper
  .sidebar-toc-btn
    &:before
      font-family: font-icon
      content: "\f0e8"

  .sidebar-common-btn
    &:before
      font-family: font-icon
      content: "\e3af"

.sidebar-top
  .arrow-up
    &:before
      font-family: font-icon
      content: "\f062"

.icon-link
  &:before
    font-family: font-icon
    content: "\f0c1"

.icon-globe
  &:before
    font-family: font-icon
    content: "\f0ac"

.icon-creative-commons
  &:before
    font-family: font-icon
    content: "\f25e"