:root
  --font-icon: "Font Awesome 6 Free", "Font Awesome 6 Brands", "Font Awesome 5 Free", "Font Awesome 5 Brands", "FontAwesome"

.archives-tag-list-link
  &:before
    font-family: var(--font-icon)
    content: "\f02b"

.archives-category-list-link
  &:before
    font-family: var(--font-icon)
    content: "\f02e"

.article-date-link
  &:before
    font-family: var(--font-icon)
    content: "\f017"

.article-category-link
  &:before
    font-family: var(--font-icon)
    content: "\f02e"

.article-tag-list-link
  &:before
    font-family: var(--font-icon)
    content: "\f02b"

.article-comment-link
  &:before
    font-family: var(--font-icon)
    content: "\f075"

.icon-copyright
  &:before
    font-family: var(--font-icon)
    content: "\f1f9"

.icon-brush
  &:before
    font-family: var(--font-icon)
    content: "\f1fc"

.icon-coffee
  &:before
    font-family: var(--font-icon)
    content: "\f0f4"

.icon-eye
  &:before
    font-family: var(--font-icon)
    content: "\f06e"

.icon-user
  &:before
    font-family: var(--font-icon)
    content: "\f007"

#main-nav-toggle
  &:before
    font-family: var(--font-icon)
    content: "\f0c9"

#nav-rss-link
  &:before
    font-family: var(--font-icon)
    content: "\f09e"

#nav-search-btn
  &:before
    font-family: var(--font-icon)
    content: "\f002"

#nav-sun-btn
  &:before
    font-family: var(--font-icon)
    content: "\f185"

#nav-moon-btn
  &:before
    font-family: var(--font-icon)
    content: "\f186"

#nav-circle-half-stroke-btn
  &:before
    font-family: var(--font-icon)
    content: "\f042"

#nav-language-btn
  &:before
    font-family: var(--font-icon)
    content: "\f1ab"

.icon-copy
  &:before
    font-family: var(--font-icon)
    content: "\f0c5"

.icon-chevron-down
  &:before
    font-family: var(--font-icon)
    content: "\f078"

.icon-check
  &:before
    font-family: var(--font-icon)
    content: "\f00c"

.icon-times
  &:before
    font-family: var(--font-icon)
    content: "\f00d"

.icon-calendar
  &:before
    font-family: var(--font-icon)
    content: "\f073"

.icon-pencil
  &:before
    font-family: var(--font-icon)
    content: "\f5ad"

.icon-clock
  &:before
    font-family: var(--font-icon)
    content: "\f252"

.post-sticky
  &:before
    font-family: var(--font-icon)
    content:"\f164"

.popup-btn-close
  &:before
    font-family: var(--font-icon)
    content: "\f057"

.reimu-search-input-icon
  &:before
    font-family: var(--font-icon)
    content: "\f002"

.ais-pagination--item__previous
  a
    &:before
      font-family: var(--font-icon)
      content: "\f104"

.ais-pagination--item__next
  a
    &:before
      font-family: var(--font-icon)
      content: "\f105"

if ('github' in social-keys)
  .icon-github
    &:before
      content: "\f09b"

if ('google' in social-keys)
  .icon-google
    &:before
      content: "\f0d5"

if ('facebook' in social-keys) || ('facebook' in share-keys)
  .icon-facebook
    &:before
      content: "\f09a"

if ('twitter' in social-keys) || ('twitter' in share-keys)
  .icon-twitter
    &:before
      content: "\e61b"

if ('instagram' in social-keys)
  .icon-instagram
    &:before
      content: "\f16d"

if ('linkedin' in social-keys) || ('linkedin' in share-keys)
  .icon-linkedin
    &:before
      content: "\f08c"

if ('pinterest' in social-keys)
  .icon-pinterest
    &:before
      content: "\f0d2"

if ('youtube' in social-keys)
  .icon-youtube
    &:before
      content: "\f167"

if ('vimeo' in social-keys)
  .icon-vimeo
    &:before
      content: "\f194"

if ('flickr' in social-keys)
  .icon-flickr
    &:before
      content: "\f16e"

if ('dribbble' in social-keys)
  .icon-dribbble
    &:before
      content: "\f17d"

if ('behance' in social-keys)
  .icon-behance
    &:before
      content: "\f1b4"

if ('bilibili' in social-keys)
  .icon-bilibili
    &:before
      content: "\e3d9"

if ('weibo' in social-keys) || ('weibo' in share-keys)
  .icon-weibo
    &:before
      content: "\f18a"

if ('zhihu' in social-keys)
  .icon-zhihu
    &:before
      content: "\f63f"

if ('reddit' in social-keys) || ('reddit' in share-keys)
  .icon-reddit
    &:before
      content: "\f1a1"

if ('tumblr' in social-keys)
  .icon-tumblr
    &:before
      content: "\f173"

if ('medium' in social-keys)
  .icon-medium
    &:before
      content: "\f23a"

if ('deviantart' in social-keys)
  .icon-deviantart
    &:before
      content: "\f1bd"

if ('stackoverflow' in social-keys)
  .icon-stackoverflow
    &:before
      content: "\f16c"

if ('keybase' in social-keys)
  .icon-keybase
    &:before
      content: "\f4f5"

if ('telegram' in social-keys)
  .icon-telegram
    &:before
      content: "\f2c6"

if ('discord' in social-keys)
  .icon-discord
    &:before
      content: "\f392"

if ('steam' in social-keys)
  .icon-steam
    &:before
      content: "\f1b6"

if ('email' in social-keys)
  .icon-email
    &:before
      content: "\f0e0"

.sidebar-btn-wrapper
  .sidebar-toc-btn
    &:before
      font-family: var(--font-icon)
      content: "\f0e8"

  .sidebar-common-btn
    &:before
      font-family: var(--font-icon)
      content: "\e3af"

.sidebar-top
  .arrow-up
    &:before
      font-family: var(--font-icon)
      content: "\f062"

.icon-link
  &:before
    font-family: var(--font-icon)
    content: "\f0c1"

.icon-globe
  &:before
    font-family: var(--font-icon)
    content: "\f0ac"

.icon-creative-commons
  &:before
    font-family: var(--font-icon)
    content: "\f25e"

.icon-taichi
  &:before
    font-family: var(--font-icon)
    content: "\f6ad"

if ('weixin' in share-keys)
  .icon-weixin
    &:before
      font-family: var(--font-icon)
      content: "\f1d7"

if ('qq' in share-keys)
  .icon-qq
    &:before
      font-family: var(--font-icon)
      content: "\f1d6"

.icon-image
  &:before
    font-family: var(--font-icon)
    content: "\f03e"

.icon
  font-family: var(--font-icon)