font-icon = "iconfont"
id = hexo-config("icon_font")
_a = '//at.alicdn.com/t/c/font_' + id + '.woff2'
_b = '//at.alicdn.com/t/c/font_' + id + '.woff'
_c = '//at.alicdn.com/t/c/font_' + id + '.ttf'
@font-face
  font-family: font-icon;
  src: url(_a) format('woff2'),
       url(_b) format('woff'),
       url(_c) format('truetype');
  font-display: swap;

.tag-wrap
  .archives-tag-list-link
    &:before
      font-family: font-icon
      content: "\e622"

.category-wrap
  .archives-category-list-link
    &:before
      font-family: font-icon
      content: "\e604"

.article-date-link
  &:before
    font-family: font-icon
    content: "\e606"

.article-category-link
  &:before
    font-family: font-icon
    content: "\e604"

.article-tag-list-link
  &:before
    font-family: font-icon
    content: "\e622"

.article-comment-link
  &:before
    font-family: font-icon
    content: "\e608"

.icon-copyright
  &:before
    font-family: font-icon
    content: "\e60a"

.icon-brush
  &:before
    font-family: font-icon
    content: "\e618"

.icon-coffee
  &:before
    font-family: font-icon
    content: "\e607"

.icon-eye
  &:before
    font-family: font-icon
    content: "\e60f"

.icon-user
  &:before
    font-family: font-icon
    content: "\e628"

#main-nav-toggle
  &:before
    font-family: font-icon
    content: "\e62f"

#nav-rss-link
  &:before
    font-family: font-icon
    content: "\e61f"

#nav-search-btn
  &:before
    font-family: font-icon
    content: "\e631"

#nav-sun-btn
  &:before
    font-family: font-icon
    content: "\e621"

#nav-moon-btn
  &:before
    font-family: font-icon
    content: "\e617"

.icon-copy
  &:before
    font-family: font-icon
    content: "\e60c"

.icon-chevron-down
  &:before
    font-family: font-icon
    content: "\e609"

.icon-check
  &:before
    font-family: font-icon
    content: "\e636"

.icon-times
  &:before
    font-family: font-icon
    content: "\e637"

.post-meta
  .icon-calendar
    &:before
      font-family: font-icon
      content: "\e605"

  .icon-pencil
    &:before
      font-family: font-icon
      content: "\e61b"

  .icon-clock
    &:before
      font-family: font-icon
      content: "\e613"

.post-sticky
  &:before
    font-family: font-icon
    content:"\e627"

.reimu-popup
  .popup-btn-close
    &:before
      font-family: font-icon
      content: "\e626"

.reimu-search-input-icon
  &:before
    font-family: font-icon
    content: "\e631"

.ais-pagination--item__previous
  a
    &:before
      font-family: font-icon
      content: "\e601"

.ais-pagination--item__next
  a
    &:before
      font-family: font-icon
      content: "\e630"

.icon-github
  &:before
    font-family: font-icon
    content: "\e619"

.icon-google
  &:before
    content: "\e611"

.icon-facebook
  &:before
    content: "\e60e"

.icon-twitter
  &:before
    content: "\e62a"

.icon-instagram
  &:before
    content: "\e615"

.icon-linkedin
  &:before
    content: "\e614"

.icon-pinterest
  &:before
    content: "\e61a"

.icon-youtube
  &:before
    content: "\e62d"

.icon-vimeo
  &:before
    content: "\e629"

.icon-flickr
  &:before
    content: "\e612"

.icon-dribbble
  &:before
    content: "\e610"

.icon-behance
  &:before
    content: "\e602"

.icon-bilibili
  &:before
    content: "\e603"

.icon-weibo
  &:before
    content: "\e62c"

.icon-zhihu
  &:before
    content: "\e62e"

.icon-reddit
  &:before
    content: "\e61c"

.icon-tumblr
  &:before
    content: "\e625"

.icon-medium
  &:before
    content: "\e616"

.icon-deviantart
  &:before
    content: "\e60b"

.icon-stackoverflow
  &:before
    content: "\e620"

.icon-keybase
  &:before
    content: "\e61e"

.icon-telegram
  &:before
    content: "\e623"

.icon-discord
  &:before
    content: "\e60d"

.icon-steam
  &:before
    content: "\e624"

.icon-email
  &:before
    content: "\e63c"

.sidebar-btn-wrapper
  .sidebar-toc-btn
    &:before
      font-family: font-icon
      content: "\e633"

  .sidebar-common-btn
    &:before
      font-family: font-icon
      content: "\e632"

.sidebar-top
  .arrow-up
    &:before
      font-family: font-icon
      content: "\e634"

.icon-link
  &:before
    font-family: font-icon
    content: "\e639"

.icon-globe
  &:before
    font-family: font-icon
    content: "\e638"

.icon-creative-commons
  &:before
    font-family: font-icon
    content: "\e63a"