@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@import "_partial/article"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/mobile"

if sidebar
  @import "_partial/sidebar"