<nav id="mobile-nav">
    <div class="sidebar-wrap">
        <% if (is_post()) { %>
            <%- partial('sidebar/toc-sidebar') %>
        <% } else { %>
            <%- partial('sidebar/common-sidebar') %>
        <% } %>
    </div>
</nav>
