// http://codepen.io/shshaw/full/gEiDt
absolute-center(width, height = width)
  width: width
  height: height
  position: absolute
  top: 50%
  left: 50%
  margin-top: width * -0.5
  margin-left: height * -0.5

