<div class="sidebar-toc">
  <h3 class="toc-title"><%= __('toc') %></h3>
  <div class="sidebar-toc-wrapper toc-div-class" <% if (page.encrypt == true) { %>style="display: none" <% } %>>
      <% if (page.encrypt == true) { %>
        <%- get_cached_toc(page.origin, page.slug) %>
      <% } else { %>
        <%- get_cached_toc(page.content, page.slug) %>
      <% } %>
  </div>
</div>
