.aplayer {
  margin: 0 0 40px !important;
  border-radius: post-radius !important;
  background: var(--color-wrap) !important;
  transition: all .3s;
  font-family: font-basic !important;
  button, .aplayer-icon {
    &:hover {
      path {
        fill: var(--color-link) !important;
      }
    }
  }

  .aplayer-after-sidebar &, &.aplayer-after-sidebar, .aplayer-after-widget &, &.aplayer-after-widget {
    margin: 40px 0 0 0 !important;
  }

  .aplayer-miniswitcher {
    background: var(--red-5-5) !important;
  }
}
.aplayer.aplayer-fixed {
  margin: 0 !important;
}
.aplayer.aplayer-fixed .aplayer-body {
  background: var(--color-wrap) !important;
  transition: all .3s;
}
.aplayer.aplayer-fixed .aplayer-info {
  transition: all .3s;
  border-top: 1px solid var(--color-h2-border) !important;
}
.aplayer.aplayer-fixed .aplayer-list {
  border: 1px solid var(--color-h2-border) !important;
  transition: all .3s;
}
.aplayer.aplayer-withlist .aplayer-info {
  transition: all .3s;
  border-bottom: 1px solid var(--color-h2-border) !important;
}
.aplayer-title, .aplayer-list-title, .aplayer-music {
  color: var(--color-link) !important;
}
.aplayer .aplayer-list ol li {
  transition: all .3s;
  border-top: 1px solid var(--color-h2-border) !important;
}
.aplayer-lrc {
  &::before {
    background: none !important;
  }
  &::after {
    background: none !important;
  }
}
.aplayer-list ol li.aplayer-list-light {
  background: var(--color-hover-shadow) !important;
}
.aplayer-list ol li:hover {
  background: var(--color-hover-shadow) !important;
}

.aplayer-lrc-contents,
.aplayer-music {
  cursor: var(--cursor-default) !important;
}

.aplayer-pic,
body .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap,
.aplayer-list-cur,
.aplayer-list-index,
.aplayer-list-author,
.aplayer-list ol li,
body .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap,
.aplayer-thumb,
.aplayer-icon {
  cursor: var(--cursor-pointer) !important;
}

.aplayer-author, .aplayer-lrc p, .aplayer-list-author {
  color: var(--grey-7) !important;
}