#comments
  background: var(--color-wrap)
  padding: article-padding
  border-radius: post-radius
  margin: 10px 0

  a
    color: var(--color-link)

.gscomment
  width: auto

.wl-emoji-popup
  max-width: calc(100vw - 90px) !important