#comments
  background: color-wrap
  font-family: FontAwesome
  padding: article-padding
  border-radius: post-radius
  margin: 10px 0

  a
    color: color-link

  textarea,
  input
    font-family: FontAwesome
