#footer
  background: linear-gradient(to top, color-footer-background 50%, transparent)
  display: flex
  margin-top: auto
  padding: 50px 0
  color: color-grey

  a
    color: color-link
    text-decoration: none

    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em
  width: 100%