if hexo-config("live2d.position") == "right"
  #live2d-plugin
    right: 0 !important
    left: auto !important
  
  #live2d-tool
    right: auto !important
    left: -10px !important

#live2d-toggle
  z-index: 1

#live2d-plugin
  z-index: 98 !important
