.notification-wrapper
  position: fixed
  z-index: 1000
  top: 20px
  right: 20px
  background: var(--color-header-background)
  box-shadow: 0 0 10px var(--color-hover-shadow)
  border-radius: 5px
  padding: 10px 20px
  margin-left: 20px
  opacity: 0
  visibility: hidden
  transition: .5s
  color: var(--grey-7)

  &.show
    opacity: 1
    visibility: visible

  h1
    padding: 10px 0
  
  p
    padding: 10px 0

  .notification-btn
    display: flex
    justify-content: flex-end
    gap: 15px
    padding: 10px 0

  button
    background: #ff7777
    border-radius: 5px
    color: #fff
    padding: 5px 10px
    font-family: 'Noto Serif SC', 'Noto Serif JP', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif
    border: none
    transition: .2s

    &:hover
      background: rgb(255, 77, 77)

    &:active
      background: #ff2e2e
