.post-link
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

$post-wrap
  width: 100%
  height: 230px
  margin-bottom: 40px
  position: relative
  border-radius: post-radius
  background: rgba(255, 255, 255, 0.9)
  display: flex
  flex-direction: row
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1)
  transition: all 0.3s
  transition-timing-function: ease

  @media mq-normal
    &:hover
      transition: background transform 0.3s
      transition-timing-function: ease
      transform: rotate(1deg) scale(1.01)
      background: rgba(255, 255, 255, 0.95)

      &:before
        transition: opacity 0.3s
        transition-timing-function: ease
        opacity: 1

    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border-radius: post-radius
      box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1)
      opacity: 0
      transition: opacity 0.3s
      transition-timing-function: ease

.post-wrap-left
  @extend $post-wrap

  @media mg-normal
    flex-direction: column
    height: 400px

.post-wrap-right
  @extend $post-wrap
  flex-direction: row-reverse

  @media mg-normal
    flex-direction: column
    height: 400px

.post-info
  height: 100%
  padding: 20px
  overflow: hidden
  box-sizing: border-box
  font-family: FontAwesome

.post-meta
  display: flex
  justify-content: flex-end
  margin: 5px 0

  a
    font-size: 14px
    color: #777777
    margin: 0 8px

  a:before,
  span:before
    margin: 0 10px

  .icon-calendar
    &:before
      content: "\f271"

  .icon-pencil
    &:before
      content: "\f040"

  .icon-clock
    &:before
      content: "\f017"

.post-top
.post-top-img
.post-top-text
.post-article
  width: 100%
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 3
  overflow: hidden
  line-height: 30px
  font-size: 15px
  color: #777777

$post-cover
  width: 40%
  position: relative
  overflow: hidden
  min-height: 95px
  background-color: #eee
  flex-shrink: 0
  pointer-events: none

  @media mg-normal
    width: 100%
    height: 45%

  img
    display: block
    opacity: 0
    transition: opacity 200ms ease-out
    position: absolute
    left: 0
    top: 0
    object-fit: cover
    width: 100%
    height: 100%

  img.lazyloaded
    opacity: 1

.post-cover-left
  @media mq-normal
    border-top-left-radius: post-radius
    border-bottom-left-radius: post-radius
    -webkit-clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%)
    clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%)

  @media mg-normal
    border-top-left-radius: post-radius
    border-top-right-radius: post-radius

  @extend $post-cover

.post-cover-right
  @media mq-normal
    border-top-right-radius: post-radius
    border-bottom-right-radius: post-radius
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%)
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%)

  @media mg-normal
    border-top-left-radius: post-radius
    border-top-right-radius: post-radius

  @extend $post-cover

.post-title
  margin: 20px 0
  color: color-link
  font-size: 25px
  font-weight: bold
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  letter-spacing: 1px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis