.popup
  display: none
  position: fixed
  top: 10%
  left: 50%
  width: 700px
  height: 80%
  margin-left: -350px
  padding: 3px 0 0 10px
  background: var(--color-wrap)
  color: var(--color-grey)
  z-index: 9999
  border-radius: post-radius

  @media mg-normal
    padding: 5px
    top: 0
    left: 0
    margin: 0
    width: 100%
    height: 100%
    border-radius: 0

.popoverlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 2080
  background-color: rgba(0, 0, 0, 0.3)
.reimu-popup
  overflow: hidden
  padding: 0

  .popup-btn-close
    position: absolute
    right: 15px
    color: var(--red-1)
    font-size: 20px
    font-weight: bold
    text-transform: uppercase
    if reimu_cursor
      cursor: url(/images/cursor/reimu-cursor-pointer.cur), pointer
    else
      cursor: pointer
    padding-left: 15px
    top: 10px

    &:before
      font-family: font-icon
      content: "\f057"

.reimu-search
  padding: 10px 15px 5px
  max-height: 50px
  border-bottom: 1px solid #ccc
  background: #f5f5f5
  border-top-left-radius: 5px
  border-top-right-radius: 5px

.reimu-search-input-icon
  display: inline-block
  width: 20px
  font-size: 18px

  &:before
    font-family: font-icon
    content: "\f002"

.reimu-search-input
  display: inline-block
  width: calc(90% - 20px)

  input
    padding: 5px 0
    width: 100%
    outline: none
    border: none
    background: transparent

.reimu-powered
  float: right
  if reimu_cursor
    cursor: url(/images/cursor/reimu-cursor-default.cur), auto !important

  img
    display: inline-block
    height: 18px
    vertical-align: middle

.reimu-results
  position: relative
  overflow: auto
  padding: 10px 30px
  box-sizing: border-box
  height: calc(100% - 50px)

  hr
    margin: 10px 0

  em
    font-weight: bold
    margin: 0
    padding: 0 2px
    color: var(--red-1)

#reimu-hits
  margin-top: 10px
  margin-left: 10px

.reimu-hit-item-link
  display: block
  text-decoration: none
  color: var(--red-2)
  margin-left: 15px
  padding: 12px 0

  &:before
    content: ""
    width: 6px
    height: 15px
    background: var(--color-h2-after)
    display: inline-block
    vertical-align: middle
    margin-top: -2px
    margin-right: 11px
    margin-left: -25px
    box-shadow: 0 2px 12px var(--color-h2-after-shadow)
    opacity: 0.5
    transition: all 0.2s ease

  &:hover
    &:before
      width: 6px
      height: 6px
      border-radius: 50%
      opacity: 1

.reimu-pagination
  margin: 10px auto
  background: var(--color-wrap)
  border-radius: post-radius
  text-align: center
  color: var(--color-grey)
  overflow: hidden

  a
    padding: 10px 15px
    color: var(--color-grey)
    text-decoration: none
    transition: background 0.2s ease

    &:hover
      background: var(--red-2)
      color: #fff

  .pagination-item
    display: inline-block

  .page-number
    display: inline-block
    border-radius: post-radius
    margin: 5px 5px

  .current
    .page-number
      color: white
      background: var(--red-1)
      font-weight: bold
      box-shadow: 0 2px 6px rgba(255, 78, 106, 0.55)

  .disabled-item
    display: none

.ais-pagination--item__previous
  a
    &:before
      font-family: font-icon
      content: "\f104"

.ais-pagination--item__next
  a
    &:before
      font-family: font-icon
      content: "\f105"

