#sidebar
  @media mq-large
    column(sidebar-column)
  position: sticky
  top: 0

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px

  a
    color: color-link
    text-decoration: none

    &:hover
      text-decoration: underline

  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

.sidebar-wrap
  width: 100%
  height: 700px
  border-radius: post-radius
  background: linear-gradient(to bottom, white 0%, white 70%, transparent)
  display: flex
  flex-shrink: 0
  flex-direction: column
  transition: background 0.5s
  transition-timing-function: ease

.sidebar-author
  display: flex
  flex-shrink: 0
  flex-direction: column
  justify-content: center
  align-items: center

  img
    display: block
    min-width: 120px
    min-height: 120px
    width: 150px
    height: 150px
    border-radius: 50%
    transition: opacity 200ms ease-out
    opacity: 0
    object-fit: cover
    margin: 20px
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.2)

  img.lazyloaded
    opacity: 1

  .sidebar-author-name
    font-weight: bold
    font-size: 20px
    color: #ff0073
    margin: 10px

  .sidebar-description
    color: #777777

$sidebar-state-content
  display: flex
  flex-direction: column
  flex-shrink: 0
  align-items: center
  justify-content: center
  padding: 0 20px

  div
    margin: 5px 0

.sidebar-state
  display: flex
  justify-content: center
  padding: 25px 0
  color: red
  opacity: 0.6
  transition: opacity 0.5s
  transition-timing-function: ease

  &:hover
    transition: opacity 0.5s
    transition-timing-function: ease
    opacity: 1

  .sidebar-state-article
    @extend $sidebar-state-content
    border-right: 1px solid rgba(255, 0, 0, 0.5)

  .sidebar-state-category
    @extend $sidebar-state-content

  .sidebar-state-tag
    @extend $sidebar-state-content
    border-left: 1px solid rgba(255, 0, 0, 0.5)

  .sidebar-state-number
    font-weight bold
    font-size: 20px

.sidebar-social
  display: flex
  flex-shrink: 0
  justify-content: center
  align-items: center

  div a
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

$siderbar-social-icon
  margin: 0 10px
  position: relative
  font-size: 25px

.icon-github
  @extend $siderbar-social-icon
  color: #191717

  &:before
    content: "\f09b"

.icon-google
  @extend $siderbar-social-icon
  color: #4285F4

  &:before
    content: "\f0d5"

.icon-facebook
  @extend $siderbar-social-icon
  color: #1877F2

  &:before
    content: "\f09a"

.icon-twitter
  @extend $siderbar-social-icon
  color: #00aff0

  &:before
    content: "\f099"

$menu-link
  color: red
  opacity: 0.8
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  display: block
  padding: 10px 15px

.sidebar-menu
  margin-top: 20px

.sidebar-menu-link-wrap
  margin: 8px 50px
  display: flex

  justify-content: center
  border: 10px rgba(255, 0, 0, 0.3) double
  border-radius: 10px
  transition: border 0.5s
  transition-timing-function: ease

  &:hover
    transition: border 0.5s
    transition-timing-function: ease
    border: 10px rgba(255, 0, 0, 0.6) double

  &:hover .sidebar-menu-icon
    transition: transform 1s
    transition-timing-function: ease
    transform: rotate(360deg)

.sidebar-menu-icon
  @extend $menu-link
  background: url("images/taichi.svg") no-repeat center / 80%
  transform: rotate(0deg)
  transition: transform 1s

.sidebar-menu-link
  @extend $menu-link

.link-active
  background: red
  border: 10px #fff double
  box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.3)
  opacity: 0.8
  transition: border opacity 0.5s
  transition-timing-function: ease

  &:hover
    transition: border opacity 0.5s
    transition-timing-function: ease
    opacity: 1

  .sidebar-menu-link
    color: #fff
    opacity: 1

  .sidebar-menu-icon
    opacity: 1
    background: url("images/taichi-fill.svg") no-repeat center / 80%
