#sidebar
  @media mg-large
    display: none
  @media mq-large
    column(sidebar-column)

.sidebar-wrap
  width: 100%
  height: 100%
  border-radius: post-radius
  //background: linear-gradient(to bottom, white 0%, white 70%, transparent)
  background: #fff
  display: flex
  flex-shrink: 0
  flex-direction: column
  justify-content: center
  align-items: center
  box-shadow: unset
  transition: all 0.3s ease

  &:hover
    transition: all 0.3s ease
    box-shadow: 0 0 10px 3px rgba(150, 150, 150, 0.1)


.sidebar-author
  display: flex
  flex-shrink: 0
  flex-direction: column
  justify-content: center
  align-items: center

  img
    display: block
    min-width: 100px
    min-height: 100px
    width: 100px
    height: 100px
    border-radius: 50%
    transition: opacity 200ms ease-out
    opacity: 0
    object-fit: cover
    margin: 20px
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.2)

  img.lazyloaded
    opacity: 1

  .sidebar-author-name
    font-weight: bold
    font-size: 20px
    color: #ff7777
    margin: 10px

  .sidebar-description
    color: #777777

$sidebar-state-content
  display: flex
  flex-direction: column
  flex-shrink: 0
  align-items: center
  justify-content: center
  padding: 0 20px

  div
    margin: 5px 0

.sidebar-state
  display: flex
  justify-content: center
  padding: 25px 0
  color: red-0
  opacity: 0.6
  transition: opacity 0.5s ease

  &:hover
    transition: opacity 0.5s ease
    opacity: 1

  .sidebar-state-article
    @extend $sidebar-state-content
    border-right: 1px solid rgba(255, 0, 0, 0.5)

  .sidebar-state-category
    @extend $sidebar-state-content

  .sidebar-state-tag
    @extend $sidebar-state-content
    border-left: 1px solid rgba(255, 0, 0, 0.5)

  .sidebar-state-number
    font-weight bold
    font-size: 20px

.sidebar-social
  display: flex
  flex-shrink: 0
  justify-content: center
  align-items: center

  div a
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

$siderbar-social-icon
  margin: 0 10px
  position: relative
  font-size: 25px

.icon-github
  @extend $siderbar-social-icon
  color: #191717

  &:before
    content: "\f09b"

.icon-google
  @extend $siderbar-social-icon
  color: #4285F4

  &:before
    content: "\f0d5"

.icon-facebook
  @extend $siderbar-social-icon
  color: #1877F2

  &:before
    content: "\f09a"

.icon-twitter
  @extend $siderbar-social-icon
  color: #00aff0

  &:before
    content: "\f099"

$menu-link
  color: red-0
  opacity: 0.8
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  display: block
  padding: 10px 15px

.sidebar-menu
  margin: 20px 0
  width: 100%

.sidebar-menu-link-wrap
  margin: 8px 50px
  display: flex
  position: relative

  justify-content: center
  border: 10px rgba(255, 0, 0, 0.3) double
  border-radius: 10px
  transition: border 0.5s ease

  &:hover
    transition: border 0.5s ease
    border: 10px rgba(255, 0, 0, 0.6) double

  &:hover .sidebar-menu-icon
    transition: transform 1s ease
    transform: rotate(360deg)

.sidebar-menu-icon
  @extend $menu-link
  background: url("/images/taichi.svg") no-repeat center / 80%
  transform: rotate(0deg)
  transition: transform 1s

.sidebar-menu-link-dummy
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

.sidebar-menu-link
  @extend $menu-link
  pointer-events: none

.link-active
  background: red-0
  border: 10px #fff double
  box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.3)
  opacity: 0.8
  transition: border opacity 0.5s ease

  &:hover
    transition: border opacity 0.5s ease
    opacity: 1

  .sidebar-menu-link
    color: #fff
    opacity: 1

  .sidebar-menu-icon
    opacity: 1
    background: url("/images/taichi-fill.svg") no-repeat center / 80%
