.tagcloud a
  display: inline-block
  margin: 5px 5px 0 0

[data-theme="dark"] .widget-wrap
  box-shadow: var(--shadow-card)

.widget-wrap
  margin: 40px 0
  background: var(--color-wrap)
  border-radius: post-radius
  transition: .3s

.widget-wrapper
  transition: .3s

  .aos-animate
    transition-property: initial !important
    &:hover
      box-shadow: var(--shadow-card-hover)

  &:hover
    transform: scale(1.015)

.widget-title
  text-transform: uppercase
  letter-spacing: 2px
  color: var(--grey-9)
  padding: 20px 20px 10px

.widget
  color: var(--grey-7)
  padding: 10px 20px

  li
    color: var(--color-link)
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  a, span
    color: var(--color-link)
    text-decoration: none
    opacity: .85
    transition: .3s

    &:hover
      opacity: 1
      color: var(--red-0)

  span
    margin-left: 5px

  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: none

  li
    margin: 5px 0
    line-height: normal

    &:before
      content: ""
      display: inline-block
      width: 5px
      height: 10px
      background: var(--color-h2-after)
      vertical-align: middle
      margin-right: 11px
      box-shadow: var(--shadow-red-6-shadow)
      opacity: .5
      transition: .3s

    &:hover:before
      width: 5px
      height: 5px
      border-radius: 50%
      opacity: 1
