.tagcloud
  a
    margin-right: 5px
    display: inline-block

.widget-wrap
  margin: block-margin 0
  background: #fff
  border-radius: post-radius
  transition: all 0.3s ease

  &:hover
    transition: all 0.3s ease
    box-shadow: 0 0 10px 3px rgba(150, 150, 150, 0.1)

.widget-title
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 2px
  color: color-grey
  line-height: 1em
  font-weight: bold
  padding: 20px 20px 10px

.widget
  color: color-sidebar-text
  padding: 10px 20px
  border-radius: 3px

  a
    color: color-link
    text-decoration: none
    opacity: 0.7

    &:hover
      opacity: 1

  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: none


  li
    margin: 10px 0

    &:before
      content: ""
      width: 5px
      height: 10px
      background: rgba(255, 0, 0, 0.75)
      display: inline-block
      vertical-align: middle
      margin-right: 11px
      box-shadow: 0 2px 12px rgba(255, 78, 106, 0.55)
      opacity: 0.5
      transition: all 0.35s ease-out

    &:hover
      &:before
        width: 5px
        height: 5px
        border-radius: 50%
        opacity: 1
        transition: all 0.2s ease-out